---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>Hi, I'm Víctor, a software technical writer from Argentina.</p>
      <p>My primary tools and skills include:</p>
      <ul class="list-disc list-inside">
        <li>Confluence</li>
        <li>Jira</li>
        <li>API documentation</li>
        <li>GitHub</li>
        <li>Postman</li>
        <li>VS Code</li>
        <li>JavaScript</li>
        <li>Node.js</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I am also an amateur developer, which helped me build the tech skills needed for writing technical documentation. 
    </p>
    <p class="text-sm font-light">
      Besides these tech-related topics, I'm passionate about design, history, paddle, and Formula 1.
    </p>
  </div>
</Card>